<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Mortal.io</title>
		<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
		<link rel="preconnect" href="https://fonts.gstatic.com">
		<link href="https://fonts.googleapis.com/css2?family=GFS+Didot&display=swap" rel="stylesheet">
		
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	</head>

	<body>
			<h1>Play god or be played by god.</h1>
			<p>
			This is where Ancient Greek Mythological gods meets next-generation technology. 
			<br/><br/>

			Built the Decision Tree Classifer with 70% accuracy using Python, Tensorflow, and Keras API.
			<br/>

			These values are used by the machine-learning training model to predict your future.
			</p>

			<form action="{{url_for('predict')}}" method="post">
				<input type="text" name="category" 
				placeholder="Category: 0 to 1000" required="required" />

				<input type="text" name="status" 
				placeholder="Are you considered immortal? 0 no, 1 yes" required="required" />

				<input type="text" name="gender" 
				placeholder="What is your gender? 1 for male, 2 for female" required="required" />

				<input type="text" name="defense" 
				placeholder="Defense: 0-90000" required="required" />

				<input type="text" name="attack" 
				placeholder="Attack: 0-90000" required="required" />


				<button type="submit" class="btn">Submit</button>


			</form>

			<br>
			<br>
			<div class="predict">
				{{prediction_text}}
			</div>

			<footer>
				<div class="footer">
					<button style="font-size:24px">Source Code <i class="fa fa-github"></i></button>

				</div>

			</footer>

	</body>
</html>